In [4]:
from datascience import *
import numpy as np

from math import factorial

def choose(n, c):
    "Number of ways to choose c items from a list of n items."
    return factorial(n) // (factorial(n - c) * factorial(c))

def permute(n, c):
    "Number of ways to select c items from a list of n items when order matters."
    return factorial(n) // (factorial(n - c))

nba=Table.read_table('nba_salaries.csv')

## Question 10

In [5]:
print(30+30+25+35)
choose(25, 5)*choose(95, 0) / choose(120, 5)

120

0.0002787834551165249

## Question 11

In [6]:
choose(95, 5)*choose(25, 0) / choose(120, 5)

0.3040251849814541

## Question 12

In [8]:
no_4_degs = choose(35, 0)*choose(85, 5) / choose(120, 5)
print(1 - no_4_degs)

0.8278840534100615

## Question 13

In [36]:
choose(25, 1)*choose(30, 1)*choose(30, 1)*choose(116, 1) / choose(120, 5)

0.01369517820165876

## Question 15

In [12]:
nba.where("PLAYER", are.equal_to("Kent Bazemore"))

PLAYER        | POSITION | TEAM          | '15-'16 SALARY
Kent Bazemore | SF       | Atlanta Hawks | 2

## Question 16

In [18]:
knicks = nba.where("TEAM", are.equal_to("New York Knicks"))
knicks_pg = knicks.where("POSITION", are.equal_to("PG"))
print(knicks_pg)
np.mean(knicks_pg.column("'15-'16 SALARY")) # This checks out when you manually average those, which I did just to be safe.

PLAYER          | POSITION | TEAM            | '15-'16 SALARY
Jose Calderon   | PG       | New York Knicks | 7.40281
Jerian Grant    | PG       | New York Knicks | 1.57236
Jimmer Fredette | PG       | New York Knicks | 0.874837

3.283336333333333

## Question 17

In [39]:
salary_maxes = nba.group(["TEAM", "POSITION"], max).group("TEAM", np.mean).sort(3, descending = True)
salary_maxes

TEAM                  | POSITION mean | PLAYER max mean | '15-'16 SALARY max mean
Miami Heat            |               |                 | 16.7818
Cleveland Cavaliers   |               |                 | 16.4633
Oklahoma City Thunder |               |                 | 14.1398
San Antonio Spurs     |               |                 | 13.4068
Golden State Warriors |               |                 | 13.3286
Houston Rockets       |               |                 | 12.2406
Chicago Bulls         |               |                 | 11.5649
Los Angeles Lakers    |               |                 | 11.1655
New York Knicks       |               |                 | 11.0119
Sacramento Kings      |               |                 | 10.9539
... (20 rows omitted)

## Question 18

In [33]:
def diff(team_salaries):
    team_max = max(team_salaries)
    team_avg = np.mean(team_salaries)
    return team_max - team_avg

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [ ]:
nba.with_column("Salary compared to Average", nba.apply(diff, "'15-'16 SALARY"))